@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    San Salvador<br />
    Soyapango<br />
    <abbr title="Phone">P:</abbr>
    6420-2749
</address>

<address>
    <strong>Soporte:</strong> <a href="cesarbarrientos123hotmail.com">cesarbarrientos123hotmail.com</a><br />
</address>
